[user]
	name = BenWhitehead
	email = BenWhitehead@users.noreply.github.com
[push]
	default = simple
	autoSetupRemote = true
[core]
	autocrlf = input
  ignorecase = false
  pager = cat
[color]
	whitespace = trailing-space,space-before-tab,tab-in-indent
[color "diff"]
  whitespace = blue reverse
[commit]
  cleanup=scissors
[diff]
  algorithm = patience
  renames = copies
# When comparing zipped files, unzip them first to compare the contents
[diff "zip"]
  textconv = unzip -c -a
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  line-numbers = true
  side-by-side = true
  syntax-theme = TwoDark

[pull]
	ff = only

[alias]
  co-pr = "!f() { git fetch ${2:-origin} pull/$1/${3:-head}:pull/$1/${3:-head} && git checkout pull/$1/${3:-head}; }; f"


### Machine specific config

